<div class="container-fluid">  
  <div class="navbar-header">
    <button type="button" class="glyphicon glyphicon-menu-hamburger navbar-toggle collapsed" data-toggle="collapse"data-target="#bs-navbar-collapse-1">
      <span class="sr-only glyphicon glyphicon-menu-hamburger">Toggle navigation</span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">Greenliner App</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#collapseMenu" data-toggle="collapse" >Start<span class="sr-only"></span></a></li>
    </ul>
  </div>
    <div class="form-horizontal collapse" id="collapseMenu">  
      <div class="form-group col-lg-6">
        <label class="col-sm-6">Enter your income level:</label>
        <input type="number" min="0" class="form-control col-lg-6" />
      </div>
      <div class="form-group col-lg-6">
        <label class="col-sm-6">Income Slider:</label>
        <div class="slider"></div>
      </div>
      <div class="form-group col-lg-6">
        <a href="#" class="btn btn-primary submit">Submit</a>
      </div>
   </div> 
</div>


